.pdv-adjust {
    height: 95vh;
    background-color: white;
    user-select: none;
}
/****************************************************/
.pdv-top {
    background-color: #5F8995;
    height: 75px;
}
.pdv-top-qtd {
    background-color: #7096A1;
    height: 100%;
    font-size: 0.8rem;
    width: 150px;
    color:white;
}
.pdv-top-qtd-control{
    margin:5px;
}
.pdv-top-qtd-control span {
    padding:2px;
}
.pdv-top-qtd button, input {
    background-color: #7096A1;
    color: white;
    border: none;
    font-size: 1.2rem;
}
.pdv-top-qtd button{
    border: solid 1px white;
    width:30px;
    height:30px;
}
.pdv-top-qtd input {
    width: 37px;
    text-align: center;
}

#auto-complete{
    display: none;
    background-color:white;
    position: absolute;
    width:50%;
    max-height: 200px;
    margin-top:30px;
    border: solid 1px #ccc;
}

#auto-complete ul{
    list-style-type: none;
    padding:0;
    overflow-y: scroll;
    max-height: 200px;
    padding-left:5px;
    margin:0;
}

#auto-complete ul li{
    padding:5px;
    cursor:pointer;
}

#auto-complete ul li:hover{
    background-color:#ccc;
}

.item-selected{
    background-color:#ccc;
}

.pdv-top-barcode{
    padding:10px 0 5px 0;
    align-items: center;
    margin:0;
}

.pdv-top-barcode span{
    margin-right: 5px;
    font-size: 1.5rem!important;
}

.pdv-top-barcode input {
    font-size: 1.5rem;
    width: 90%;
}
.pdv-top-name span{
    color:white;
    font-size: 0.8rem;
    margin-left: 10px;
}

#btn-add-item{
    background-color: #20B2AA;
    height: 100%;
    width: 75px;
    color: white;
    cursor: pointer;
}
#btn-add-item:hover{
    box-shadow: 0 0 5px black;
}

.pdv-top-icon{
    font-size: 2rem;
    color: white;
}

/**********************************************/
.mw-50 {
    max-width: 50px!important;
}
.mw-100 {
    max-width: 100px;
}
.mw-150 {
    max-width: 150px;
}
/**********************************************/
.table-custom{
    user-select: none;
}
.pdv-table-qtd{
    padding:0;
    display:flex;
    align-items: center;
}

.pdv-table-qtd button{
    width: 20px;
    height: 20px;
    padding:0px;
    border: 1px solid black;
    background-color: white;
}
.pdv-table-qtd input{
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: white;
    color:black;
    font-size:1rem;
}

.pdv-table-icon-delete{
    font-size: 1.5rem;
    margin-right: 10px;
    cursor:pointer;
}
/***********************************************/
.pdv-bottom {
    height: 150px;
}
.pdv-bottom-totais {
    height: 50%;
    margin: 0 20px 0 20px;
}
.pdv-bottom-buttons {
    height:50%;
    background-color:#B9B9B9;
}
.pdv-bottom-buttons a{
    text-decoration:none;
    border: none;
}

#total-pay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F43E41;
}

.btn-cancel {
    background-color: #F43E41;
    height: 100%;
    width: 100px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.btn-cancel:hover {
    box-shadow: 0 0 5px black;
}

#payment-button{
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2;
}
#payment-button span{
    margin-right: 5px;
    font-size:1.5rem;
}
