.drop-zone {
    max-width: 110px;
    width:110px;
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed #496FDC;
    border-radius: 5px;
  }

  .nbr{border-radius:0px;}

  .dz-banner{
    max-width: 220px;
    width:220px;
    height: 120px;
  }

  .dz-bannerM{
    max-width: 150px;
    width:150px;
    height: 120px;
  }

  .drop-zone--over {
    border-style: solid;
  }

  .drop-zone__input {
    display: none;
  }
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /*.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }*/
