footer {
    /* display: none!important; */
}
.pdv-adjust {
    height: 95vh;
    background-color: white;
}
/****************************************************/
.pdv-top {
    background-color: #5F8995;
    height: 75px;
}
.pdv-top-qtd {
    background-color: #7096A1;
    height: 100%;
    font-size: 0.8rem;
    width: 150px;
    color:white;
}
.pdv-top-qtd-control{
    margin:5px;
}
.pdv-top-qtd-control span {
    padding:2px;
}
.pdv-top-qtd button, input {
    background-color: #7096A1;
    color: white;
    border: none;
    font-size: 1.2rem;
}
.pdv-top-qtd button{
    border: solid 1px white;
    width:30px;
    height:30px;
}
.pdv-top-qtd input {
    width: 37px;
    text-align: center;
}

.pdv-top-barcode{
    padding:5px;
    align-items: center;
    margin:0;
}

.pdv-top-barcode span{
    margin-right: 5px;
}

.pdv-top-barcode input {
    font-size: 1.5rem;
    width: 90%;
}
.pdv-top-name span{
    color:white;
    font-size: 0.8rem;
    margin-left: 10px;
}

.pdv-top-barcode span{
    font-size: 1.5rem!important;
}

.pdv-top-icon{
    color:white;
    font-size: 1.5rem;
    margin-right: 10px;
}
/**********************************************/
.mw-50 {
    max-width: 50px!important;
}
.mw-100 {
    max-width: 100px;
}
.mw-150 {
    max-width: 150px;
}
/**********************************************/
.pdv-table-qtd{
    padding:0;
    display:flex;
    align-items: center;
}

.pdv-table-qtd button{
    width: 20px;
    height: 20px;
    padding:0px;
    border: 1px solid black;
    background-color: white;
}
.pdv-table-qtd input{
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: white;
    color:black;
    font-size:1rem;
}

.pdv-table-icon-delete{
    font-size: 1.5rem;
    margin-right: 10px;
}
/***********************************************/
.pdv-bottom {
    height: 150px;
}
.pdv-bottom-totais {
    height: 50%;
    margin: 0 20px 0 20px;
}
.pdv-bottom-buttons {
    height:50%;
    background-color:#B9B9B9;
}

#total-pay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F43E41;
}

.btn-cancel {
    background-color: #F43E41;
    height: 100%;
    width: 75px;
    font-size: 1.5rem;
    color: white;
}

#payment-button{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2;
}
#payment-button span{
    margin-right: 5px;
    font-size:1.5rem;
}
